<!doctype html>
<html lang="en" translate="no" data-bs-theme="dark">
  <head>
    <title>Rolling And Falling</title>
    <meta name="author" content="Ranko" />
    <meta name="description" content="Lore, Homebrew and Original campaign." />
    <meta name="keywords" content="Lore, Homebrew and Original campaign." />
    <link
      href="https://ranko1911.github.io/Rolling-and-Falling//images/icons/dado_blanco_fondo_negro.webp"
      rel="icon"
      type="image/x-icon"
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://ranko1911.github.io/Rolling-and-Falling//scripts/loadHeaderFooter.js"></script>

    <link
      rel="stylesheet"
      href="https://ranko1911.github.io/Rolling-and-Falling//css/article.css"
    />
  </head>

  <body>
    <div id="header1"></div>
    <main class="container">
      <div class="header">
        <img
          src="https://ranko1911.github.io/Rolling-and-Falling/images/icons/dado_blanco_fondo_negro.webp"
          alt="Cabecera Imagen"
        />
      </div>
      <div class="content">
        <h1>Título del Artículo</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          vulputate eros ac odio facilisis, vel dictum nisi viverra. Integer ac
          suscipit nibh. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Nullam eget eros in elit
          tincidunt commodo. Proin sodales, odio in dignissim viverra, ligula
          orci venenatis leo, nec tincidunt urna nunc at metus. Vivamus ac
          ullamcorper eros. Phasellus non lorem a orci molestie bibendum.
        </p>
        <img
          src="https://ranko1911.github.io/Rolling-and-Falling/images/icons/dado_blanco_fondo_negro.webp"
          alt="Imagen Intercalada"
        />
        <p>
          Sed sit amet lorem orci. Fusce pretium nisl id auctor molestie. Duis
          porttitor venenatis ultricies. Vestibulum venenatis sit amet velit ut
          placerat. Aenean hendrerit laoreet orci, sed dignissim enim laoreet
          quis. Vivamus sit amet ante eget urna sodales ultricies. Cras vel
          congue dolor. Sed non mauris id orci placerat efficitur. Nam bibendum
          elit nec magna ullamcorper, sit amet dapibus ligula pharetra. Quisque
          nec mi vel nisi vehicula pellentesque. Nullam sit amet viverra est.
          Integer laoreet tellus a risus efficitur, ut egestas purus pharetra.
          In non augue vitae ligula congue fermentum.
        </p>
        <p>
          Praesent vel ultricies enim, at auctor mi. Vivamus tristique risus
          felis, nec malesuada justo venenatis in. Nullam quis diam id nunc
          posuere bibendum. Integer pretium risus id diam condimentum, et
          facilisis justo pharetra. Aenean consectetur sem eu efficitur
          consectetur. Morbi ut nisi ut urna cursus scelerisque. Curabitur
          bibendum, sem in tempor ultrices, nisi felis convallis metus, at
          vehicula lorem dui et dui. Etiam et sem turpis. Donec laoreet augue
          nec magna vestibulum, in pharetra eros finibus.
        </p>
      </div>
    </main>
    <div id="footer1"></div>

    <script>
      // Aquí se puede agregar cualquier script adicional necesario para la página
      // Este espacio es para scripts específicos de esta página
    </script>
  </body>
</html>
