body {
  background-color: #1e1e1e;
  color: #dcdcdc;
  font-family: Arial, sans-serif;
}
.container {
  margin-top: 50px;
}
.header {
  text-align: center;
  margin-bottom: 30px;
}
.header img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.content {
  background-color: #292929;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.content h1 {
  color: #ffcc00;
  text-align: center;
}
.content p {
  margin-top: 20px;
  text-align: justify;
}
.content img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 2px solid #ffcc00;
  border-radius: 10px;
}
/* Estilos adicionales para los bloques de enlaces */
.link-block {
  padding: 20px;
  background-color: #292929;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.link-block a {
  color: #ffffff; /* Color de texto para los enlaces */
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.link-block a:hover {
  background-color: #3d3d3d; /* Color de fondo al pasar el mouse */
}

main.container {
  padding-top: 20px;
  padding-bottom: 60px; /* Para asegurar que el pie de página no se superponga */
}
