body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #222;
  /* Dark background color */
  color: #eee;
  /* Light text color */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.object {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.object-description {
  flex: 1;
  margin-right: 10px;
}

.object-name {
  color: #fff;
  /* White color for object name */
  margin-bottom: 5px;
}

.object-img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #0066cc;
  /* Blue color for links */
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

main {
  flex: 1; /* Este div se expandirá para llenar el espacio entre header y footer */
}

html {
  height: 100%;
}
