.btn-custom {
  background-color: #ffd700; /* Color dorado */
  border-color: #ffd700; /* Color del borde */
  color: #ffffff; /* Texto en color blanco */
}

.btn-custom:hover {
  background-color: #ffcc00; /* Color dorado claro al pasar el ratón */
  border-color: #ffcc00; /* Color de borde al pasar el ratón */
}