body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222; /* Cambiar al color de fondo oscuro */
  color: #eee; /* Cambiar el color de texto a claro */
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333; /* Cambiar el color de fondo del contenedor */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Cambiar el color de la sombra */
  display: flex;
}
.content {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
}
h1,
h2,
h3 {
  color: #fff; /* Cambiar el color de los títulos */
}
p {
  color: #ccc; /* Cambiar el color del texto normal */
}
.image-container {
  text-align: center;
  margin-left: 20px;
}
.object-image {
  max-width: 100%;
  height: auto;
}
